:root {
    --color-main-bg: #900;
    --color-main-text: #FFF;
    --color-link-text: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 4rem;
    color: var(--color-main-text, #FFF);
    background: var(--color-main-bg, #000);
}

a {
    text-decoration: none;
    color: var(--color-link-text);
}