@import url('typography.css');

:root {
    --font-size-p: 16px;
    --color-main-text: #FFF;
    --color-link-text: #FFF;
}

html {
    /* This will be inherited value of background */
    background: gray;
}

body {
    padding: 4rem;
    /* if variable is evaluated not to color will be used inherit or default value */
    /* if variables are not supported or not set will be used fallback value  */
    color: var(--color-main-text, #FFF);
    /* Not set value */
    background: var(--color-main-bg, #000);
    /*  wrong value type */
    background: var(--font-size-p, #000);
}

a {
    text-decoration: none;
    color: var(--color-link-text);
}

p {
    font-size: var(--color-main-bg);
}