/* Variables */
:root {
    --sizing-fs-base: 12px;
    --sizing-ws-base: 1.5em;

    --sizing-fs-tablets: 14px;
    --sizing-fs-laptops: 16px;
    --sizing-fs-desktop: 18px;    
    --sizing-fs-huge: 20px;

}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    
    box-sizing: inherit;
}

/* Typography CSS */

html {
    font: var(--sizing-fs-base)/1.5 "Georgia", serif;
}

@media all and (min-width: 600px) {
    html {
        font-size: var(--sizing-fs-tablets );
    }
}

@media   (min-width: 1260px) {
    html {
        font-size: var(--sizing-fs-laptops );
    }
}

@media   (min-width: 1420px) {
    html {
        font-size: var(--sizing-fs-desktop );
    }
}

@media   (min-width: 1660px) {
    html {
        font-size: var(--sizing-fs-huge );
    }
}

p, ul, ol, dl, table {
    margin-bottom: var(--sizing-ws-base);
}

ul, ol {
    padding-left: var(--sizing-ws-base);
}

h1, h2, h3, h4, h5 ,h6 {
    margin: 0 0 calc(var(--sizing-ws-base) / 3 ) 0;
}